<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="$(arg name)">
  <xacro:arg name="name"   default="ur"/>
  <xacro:arg name="prefix" default=""/>

  <xacro:include filename="$(find ur3_suction_moveit_config)/srdf/ur3_suction_macro.srdf.xacro"/>
  <xacro:ur3_suction_srdf name="$(arg name)" prefix="$(arg prefix)"/>
</robot>
